@font-face {
  font-family: 'pfdregular';
  src: url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.eot");
  src: url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.eot?iefix") format("eot"), url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.woff") format("woff"), url("../fonts/pfdintextcomppro-regular/pfdintextcomppro-regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

@font-face {
  font-family: 'pfdbold';
  src: url("../fonts/pfdintextcomppro-bold/pfdintextcomppro-bold.eot");
  src: url("../fonts/pfdintextcomppro-bold/pfdintextcomppro-bold.eot?iefix") format("eot"), url("../fonts/pfdintextcomppro-bold/pfdintextcomppro-bold.woff") format("woff"), url("../fonts/pfdintextcomppro-bold/pfdintextcomppro-bold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'pfdmedium';
  src: url("../fonts/pfdintextcomppro-medium/PFDinTextCompPro-Medium.eot");
  src: url("../fonts/pfdintextcomppro-medium/PFDinTextCompPro-Medium.eot?iefix") format("eot"), url("../fonts/pfdintextcomppro-medium/PFDinTextCompPro-Medium.woff") format("woff"), url("../fonts/pfdintextcomppro-medium/PFDinTextCompPro-Medium.ttf") format("truetype");
  font-style: normal;
  font-weight: 600; }

@font-face {
  font-family: 'OpenSans-Semibold';
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold/OpenSans-Semibold.eot?iefix") format("eot"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold/OpenSans-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 400; }

@font-face {
  font-family: 'OpenSans';
  src: url("../fonts/OpenSans/OpenSans.eot");
  src: url("../fonts/OpenSans/OpenSans.eot?iefix") format("eot"), url("../fonts/OpenSans/OpenSans.woff") format("woff"), url("../fonts/OpenSans/OpenSans.ttf") format("truetype");
  font-style: normal;
  font-weight: normal; }

body {
  font: 100% "pfdregular", sans-serif; }

.wrapper {
  height: auto;
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative; }

.bg-active {
  background: rgba(0, 0, 0, 0.8);
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  z-index: 100; }

.sidebar {
  z-index: 9999;
  -webkit-transition: .4s ease;
  -o-transition: .4s ease;
  transition: .4s ease;
  overflow: auto;
  float: left;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  width: 280px;
  color: #fff;
  background: #FB161F;
  background-image: url("../img/aside-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  -webkit-background-size: cover;
          background-size: cover; }
  .sidebar.open {
    left: 0; }
  .sidebar-logo {
    display: block;
    height: 209px;
    margin-bottom: 10px; }
    .sidebar-logo-img {
      width: 100%; }
  .sidebar-content {
    width: 280px;
    text-align: center;
    font-size: 0; }
    .sidebar-content-tell {
      text-decoration: none;
      color: #fff;
      font-size: 26px;
      position: relative;
      line-height: 1;
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease; }
      .sidebar-content-tell:hover {
        color: #979797; }
      .sidebar-content-tell::after {
        content: " ";
        position: absolute;
        bottom: -30px;
        left: 50%;
        -webkit-transform: translateX(-50%);
            -ms-transform: translateX(-50%);
                transform: translateX(-50%);
        height: 4px;
        width: 75px;
        display: block;
        background: #fff; }

.a-navigation {
  display: none; }

.burger {
  margin: 13px 5px;
  width: 30px;
  height: 20px;
  position: relative;
  display: none;
  cursor: pointer;
  float: right;
  right: 0;
  top: 0; }
  .burger__line {
    display: block;
    position: absolute;
    width: 100%;
    height: 3px;
    background: #fff;
    -webkit-transition: .4s ease;
    -o-transition: .4s ease;
    transition: .4s ease; }
    .burger__line:nth-child(1) {
      top: 0; }
      .burger__line:nth-child(1).active-b {
        display: none; }
    .burger__line:nth-child(2) {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      .burger__line:nth-child(2).active-b {
        -webkit-transform: rotate(45deg);
            -ms-transform: rotate(45deg);
                transform: rotate(45deg); }
    .burger__line:nth-child(3) {
      top: 50%;
      -webkit-transform: translateY(-50%);
          -ms-transform: translateY(-50%);
              transform: translateY(-50%); }
      .burger__line:nth-child(3).active-b {
        -webkit-transform: rotate(-45deg);
            -ms-transform: rotate(-45deg);
                transform: rotate(-45deg); }
    .burger__line:nth-child(4) {
      bottom: 0; }
      .burger__line:nth-child(4).active-b {
        display: none; }

.sidebar-burger {
  position: absolute;
  right: 0;
  top: 0;
  z-index: 100; }

.amenu {
  margin-top: 60px;
  padding: 0 35px; }
  .amenu-item {
    font-size: 26px;
    margin-bottom: 23px; }
    .amenu-item-meth {
      text-decoration: none;
      color: #fff;
      text-transform: uppercase;
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease; }
      .amenu-item-meth:hover {
        color: #979797; }

.content {
  float: right;
  width: -webkit-calc(100% - 280px);
  width: calc(100% - 280px); }

header nav {
  overflow: hidden; }

.navigation {
  height: 60px;
  background: #e3e3e3;
  overflow: hidden;
  position: relative;
  width: 100%;
  font-size: 0; }
  .navigation-range {
    position: absolute;
    font-size: 23px;
    right: 0;
    line-height: 60px;
    text-decoration: none;
    color: #fff;
    background: #e31e25;
    padding: 0 35px; }
    .navigation-range:hover {
      -webkit-transition: background .2s linear;
      -o-transition: background .2s linear;
      transition: background .2s linear;
      background: #FF2830; }
    .navigation-range:active {
      -webkit-transition: background .2s linear;
      -o-transition: background .2s linear;
      transition: background .2s linear;
      background: #D71219; }
    .navigation-range:before {
      content: " ";
      margin-right: 10px;
      display: inline-block;
      background-image: url("../img/arrow.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      width: 16px;
      height: 19px; }
  .navigation-item {
    display: inline-block;
    line-height: 60px;
    position: relative; }
    .navigation-item::after {
      content: " ";
      position: absolute;
      top: 45%;
      -webkit-transform: translateY(-45%);
          -ms-transform: translateY(-45%);
              transform: translateY(-45%);
      right: -1px;
      height: 20px;
      width: 2px;
      display: block;
      background: #979797; }
    .navigation-item:nth-child(5)::after {
      display: none; }
    .navigation-item-meth {
      font-size: 22px;
      text-decoration: none;
      color: #7B7B7B;
      padding: 18px 35px;
      text-transform: uppercase; }
      .navigation-item-meth:hover {
        -webkit-transition: background .2s linear;
        -o-transition: background .2s linear;
        transition: background .2s linear;
        background: #D1D1D1; }
      .navigation-item-meth:active {
        background: #BFBFBF; }

.location {
  padding: 0 0 0 32px; }
  .location-adress {
    margin-top: 25px;
    margin-bottom: 25px;
    margin-right: 2.5%;
    display: inline-block;
    padding-left: 30px;
    color: #c4090c;
    font-size: 23px;
    position: relative;
    vertical-align: top; }
    .location-adress::after {
      content: " ";
      position: absolute;
      top: 0;
      left: 5px;
      display: block;
      background-image: url("../img/location.png");
      -webkit-background-size: cover;
              background-size: cover;
      background-repeat: no-repeat;
      background-position: center;
      width: 17px;
      height: 24px; }
  .location-content-map {
    font-size: 16px;
    color: #c4090c;
    text-decoration: none;
    border-bottom: 1px solid;
    border-style: dashed;
    -webkit-transition: .3s ease;
    -o-transition: .3s ease;
    transition: .3s ease; }
    .location-content-map:hover {
      border-style: solid; }
  .location-content-tell {
    margin-top: 3px;
    display: block;
    color: #474747; }
  .location-content-work {
    display: block;
    color: #474747; }

.main {
  border-top: 5px solid;
  border-color: #e3e3e3;
  display: -webkit-box;
  display: -webkit-flex;
  display: -ms-flexbox;
  display: flex;
  -webkit-flex-wrap: wrap;
      -ms-flex-wrap: wrap;
          flex-wrap: wrap;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  -webkit-flex-direction: row;
      -ms-flex-direction: row;
          flex-direction: row; }
  .main-item {
    background-color: #E4E4E4;
    -webkit-background-size: cover;
            background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 33.333%;
    padding: 40px;
    overflow: hidden; }
    .main-item:last-child {
      width: 66.666%;
      height: auto; }
    .main-item-title {
      font: 100% "pfdbold", sans-serif;
      font-size: 60px;
      color: #e31e25;
      position: relative;
      display: block;
      padding-bottom: 10px;
      text-transform: uppercase; }
      .main-item-title::after, .post-title-h1:after {
        content: " ";
        position: absolute;
        bottom: 0;
        left: 0;
        width: 75px;
        height: 3px;
        background: #e31e25; }
    .main-item-btn {
      font: 100% "OpenSans-Semibold", sans-serif;
      text-align: center;
      line-height: 45px;
      display: block;
      margin: 0 auto;
      height: 45px;
      width: 170px;
      text-decoration: none;
      background: #e31e25;
      color: #fff;
      font-size: 18px;
      -webkit-border-radius: 4px;
              border-radius: 4px;
      margin-top: 25px; }
      .main-item-btn:hover {
        -webkit-transition: background .3s ease;
        -o-transition: background .3s ease;
        transition: background .3s ease;
        background: #FB363D; }
      .main-item-btn:active {
        background: #D71219; }
  .main-list {
    text-align: center;
    font-size: 40px;
    text-transform: uppercase;
    margin-top: 13px; }
    .main-list-item {
      margin-top: 22px; }
      .main-list-item a {
        text-decoration: none;
        color: #000;
        -webkit-transition: .3s linear;
        -o-transition: .3s linear;
        transition: .3s linear; }
        .main-list-item a:hover {
          color: #979797; }
      .main-list-item::after, .title-news-all::after {
        content: " ";
        display: inline-block;
        background-image: url("../img/arrow-left.png");
        background-repeat: no-repeat;
        width: 24px;
        height: 13px;
        padding-bottom: 7px;
        margin-left: 10px;
        vertical-align: middle; }

.title-news {
  color: #000;
  position: relative; }
  .title-news-txt a {
    color: #000;
    text-decoration: none;
    font-size: 27px;
    margin-top: 35px;
    padding-right: 20px;
    display: block; }
    .title-news-txt a:hover {
      text-decoration: underline; }
  .title-news-txt p {
    display: block;
    margin-top: 10px;
    font: 100% "OpenSans", sans-serif;
    font-size: 15px;
    line-height: 2;
    padding-right: 25px; }
  .title-news-all {
    display: block;
    font-size: 22px;
    text-decoration: none;
    color: #e31e25;
    position: absolute;
    top: 60px;
    right: 40px;
    opacity: .7; }
    .title-news-all:hover {
      -webkit-transition: opacity .3s ease;
      -o-transition: opacity .3s ease;
      transition: opacity .3s ease;
      opacity: 1; }
    .title-news-all:active {
      color: #D71219; }

.title-order {
  color: #000;
  float: right;
  display: block;
  position: relative;
  width: 100%;
  text-align: right; }
  .title-order::after {
    position: absolute;
    left: auto;
    right: 0;
    content: " ";
    display: block;
    bottom: 0;
    width: 75px;
    height: 3px;
    background: #e31e25; }
  .title-order::before {
    content: " ";
    display: inline-block;
    background-image: url("../img/phone.png");
    background-repeat: no-repeat;
    width: 56px;
    height: 56px;
    vertical-align: middle;
    margin-right: 10px;
    margin-bottom: 5px; }

.item-news {
  background: #f6f6f6;
  position: relative; }

.order-txt {
  float: right;
  text-align: right;
  display: block;
  max-width: 200px; }
  .order-txt-head {
    font: 100% "pfdbold", sans-serif;
    font-size: 28px;
    text-transform: uppercase; }
    .order-txt-head:first-child {
      margin-top: 40px; }
    .order-txt-head:last-child {
      color: #e31e25; }
  .order-txt-sub {
    margin-top: 45px;
    display: block;
    font-size: 28px;
    color: #2e2e2e; }

.item-sale {
  position: relative; }
  .item-sale::after {
    content: " ";
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    background-image: url("../img/sale-line.png");
    width: 224px;
    height: 129px;
    background-repeat: no-repeat;
    -webkit-background-size: cover;
            background-size: cover; }
  .item-sale-title {
    color: #fff;
    font: 100% "pfdbold", sans-serif;
    font-size: 55px;
    text-transform: uppercase;
    position: relative; }
    .item-sale-title::after {
      content: " ";
      display: block;
      width: 92px;
      height: 92px;
      background-image: url("../img/sale-arrow.png");
      background-repeat: no-repeat;
      -webkit-background-size: cover;
              background-size: cover;
      position: absolute;
      bottom: -98px;
      left: -10px; }

.title-company {
  color: #000;
  margin-bottom: 40px; }

.item-company {
  background: #fff; }
  .item-company-txt {
    font: 100% "OpenSans", sans-serif;
    margin-top: 25px;
    line-height: 2; }

.catalog {
  padding-bottom: 30px;
  background: #f6f6f6;
  position: relative; }
  .catalog-item {
    width: 25%;
    padding: 50px 10px 25px 87px;
    float: left; }
    .catalog-item-title {
      font: 100% "pfdbold", sans-serif;
      font-size: 40px;
      text-transform: uppercase; }

.block1 {
  position: relative; }
  .block1::before {
    content: " ";
    position: absolute;
    left: -45px;
    width: 35px;
    height: 53px;
    background-image: url("../img/list-icon1.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px; }

.block2 {
  position: relative; }
  .block2::before {
    content: " ";
    position: absolute;
    left: -60px;
    width: 51px;
    height: 53px;
    background-image: url("../img/list-icon2.png");
    background-repeat: no-repeat;
    vertical-align: middle;
    margin-right: 10px; }

.catalog-list {
  margin-top: 15px; }
  .catalog-list li {
    line-height: 3; }
  .catalog-list a {
    text-decoration: none;
    color: #000;
    font: 100% "pfdregular", sans-serif;
    font-size: 30px; }
    .catalog-list a:hover {
      -webkit-transition: color .3s ease;
      -o-transition: color .3s ease;
      transition: color .3s ease;
      color: #e31e25; }

.icon2::before {
  background-image: url("../img/list-icon2.png");
  width: 51px; }

.footer {
  padding: 25px 45px;
  background: #e3e3e3; }
  .footer-txt {
    display: block;
    font-size: 20px;
    text-transform: uppercase;
    color: #7B7B7B; }

.section-content {
  width: 100%;
  border-top: 5px solid;
  border-color: #e3e3e3;
  position: relative; }
  .section-content-center {
    width: -webkit-calc(100% - 365px);
    width: calc(100% - 365px);
    float: left; }
  .section-content-left {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    height: 100%;
    width: 365px;
    float: right;
    background: #f6f6f6;
    padding: 65px 45px 65px 100px; }

.content-top {
  width: 100%;
  padding: 30px 55px; }

.links-item {
  display: inline-block; }
  .links-item:last-child::after {
    display: none; }
  .links-item::after {
    content: " ";
    display: inline-block;
    width: 9px;
    height: 7px;
    background-image: url("../img/links-arrow.png");
    background-repeat: no-repeat;
    background-position: center;
    padding: 0 5px; }
  .links-item-meth {
    text-decoration: none;
    color: #939393;
    text-transform: uppercase;
    font: 100% "OpenSans", sans-serif;
    font-size: 11px; }
    .links-item-meth:hover {
      text-decoration: underline; }

.post-title {
  font: 100% "pfdbold", sans-serif;
  text-transform: uppercase;
  position: relative; }
  .post-title-h1 {
    font-size: 60px;
    margin-bottom: 30px;
    padding-bottom: 20px; }
    .post-title-h1:after {
      width: 87px; }
  .post-title-h2 {
    font-size: 50px;
    margin-top: 27px;
    padding-bottom: 18px; }
  .post-title-h3 {
    font-size: 40px;
    margin-top: 24px;
    padding-bottom: 16px; }
  .post-title-h4 {
    font-size: 30px;
    margin-top: 21px;
    padding-bottom: 14px; }
  .post-title-h5 {
    font-size: 24px;
    margin-top: 18px;
    padding-bottom: 12px; }
  .post-title-h6 {
    font-size: 20px;
    margin-top: 15px;
    padding-bottom: 12px; }

.post-txt {
  margin-bottom: 20px; }
  .post-txt-str {
    font: 100% "OpenSans", sans-serif;
    margin-bottom: 15px;
    line-height: 1.8; }
  .post-txt-link {
    text-decoration: none;
    color: #e31e25; }
    .post-txt-link:hover {
      text-decoration: underline;
      color: #CB060D; }

.post-list {
  padding-left: 20px; }
  .post-list-item {
    font: 100% "OpenSans", sans-serif;
    margin-bottom: 15px;
    line-height: 1.8;
    position: relative; }
    .post-list-item::before {
      position: absolute;
      top: 9px;
      left: -15px;
      content: " ";
      display: inline-block;
      border: 5px solid #e31e25;
      vertical-align: middle;
      margin-right: 10px;
      margin-bottom: 4px; }

.post-num {
  list-style: decimal; }
  .post-num-item {
    color: #e31e25; }
    .post-num-item span {
      color: #000; }
    .post-num-item::before {
      display: none; }

.category-item {
  margin-bottom: 45px;
  position: relative;
  -webkit-transition: .2s linear;
  -o-transition: .2s linear;
  transition: .2s linear; }
  .category-item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); }
  .category-item::before {
    text-align: center;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
    left: -56px;
    content: ' ';
    width: 46px;
    height: 50px;
    display: inline-block;
    background-repeat: no-repeat;
    background-image: url("../img/sprite.png"); }
  .category-item.item2::before {
    background-position: center -50px;
    height: 43px; }
  .category-item.item3::before {
    background-position: center -93px;
    height: 40px; }
  .category-item.item4::before {
    background-position: center -133px;
    height: 40px; }
  .category-item.item5::before {
    background-position: center -173px;
    height: 41px; }
  .category-item.item6::before {
    background-position: center -214px;
    height: 49px; }
  .category-item.item7::before {
    background-position: center -263px;
    height: 41px; }
  .category-item.item8::before {
    background-position: center -304px;
    height: 41px; }
  .category-item.item9::before {
    background-position: center -345px;
    height: 40px; }
  .category-item.item10::before {
    background-position: center -385px;
    height: 42px; }
  .category-item.item11::before {
    background-position: center -427px;
    height: 43px; }
  .category-item-meth {
    text-decoration: none;
    font: 100% "pfdmedium", sans-serif;
    font-size: 28px;
    color: #000;
    text-transform: uppercase;
    position: relative;
    display: block;
    -webkit-transition: .3s linear;
    -o-transition: .3s linear;
    transition: .3s linear; }

@media (max-width: 1700px) {
  .location {
    display: none; }
  .location-adress-br {
    text-decoration: underline;
    -webkit-text-decoration-style: dashed;
            text-decoration-style: dashed; }
  .location {
    padding-bottom: 20px; }
  .section-content {
    border-top: none; }
  .main {
    border-top: none; } }

@media (max-width: 1440px) {
  .catalog-item {
    width: 50%; }
  .main-item {
    width: 50%; }
    .main-item:last-child {
      width: 100%; }
  .gallery-item {
    width: 50%; }
  .post-txt-str {
    font-size: 15px;
    line-height: 1.6; } }

@media (max-width: 1280px) {
  .navigation-item-meth {
    font-size: 17px;
    padding: 21px 25px; }
  .post-title-h1 {
    font-size: 55px;
    margin-bottom: 25px;
    padding-bottom: 15px; }
  .post-title-h2 {
    font-size: 47px;
    margin-top: 25px;
    padding-bottom: 17px; }
  .post-title-h3 {
    font-size: 37px;
    margin-top: 22px;
    padding-bottom: 15px; }
  .post-title-h4 {
    margin-top: 19px;
    padding-bottom: 13px; }
  .post-txt-str {
    font-size: 15px;
    margin-bottom: 13px;
    line-height: 1.6; }
  .post-list-item {
    font-size: 15px;
    margin-bottom: 10px;
    line-height: 1.6; }
  .gallery-item {
    height: 350px; }
  .section-content-left {
    position: relative;
    width: 100%; }
  .section-content-center {
    width: 100%; } }

@media (max-width: 1080px) {
  .navigation-range:before {
    width: 10px;
    height: 12px;
    background-image: url("../img/arrow-sm.png"); }
  .navigation-item-meth {
    font-size: 12px;
    padding: 18px 9px; }
  .navigation-item {
    line-height: 48px; }
  .navigation-item::after {
    height: 10px; }
  .navigation-range {
    font-size: 14px;
    padding: 0 15px;
    line-height: 48px; }
  .navigation {
    height: 48px; }
  .main-item {
    width: 100%;
    height: 508px; } }

.gallery-item {
  width: 100%;
  height: 404px; }

@media (max-width: 900px) {
  .catalog-item {
    width: 100%; } }

@media (max-width: 750px) {
  .burger {
    display: block; }
  .sidebar {
    width: 320px;
    left: -280px; }
  .content {
    width: -webkit-calc(100% - 40px);
    width: calc(100% - 40px); }
  .sidebar-logo {
    height: 130px;
    margin: 0 auto; }
    .sidebar-logo-img {
      width: 60%; }
  .sidebar-content-tell {
    font-size: 18px; }
    .sidebar-content-tell::after {
      display: none; }
  .amenu {
    margin-top: 20px; }
    .amenu-item {
      font-size: 18px;
      margin-top: 5px;
      margin-bottom: 0; }
  .post-title-h1 {
    font-size: 50px;
    margin-bottom: 20px;
    padding-bottom: 10px; }
  .post-txt-str {
    font-size: 14px;
    margin-bottom: 10px; }
  .post-title-h2 {
    font-size: 45px; }
  .content-top {
    padding: 20px 30px; }
  .section-content-left {
    padding: 65px 45px 65px 80px; }
  .category-item:hover {
    -webkit-transform: none;
        -ms-transform: none;
            transform: none; } }

@media (max-width: 500px) {
  .a-navigation {
    display: block;
    margin-bottom: 30px; }
  .navigation {
    display: none; }
  .content {
    padding-top: 15px; }
  .location {
    padding: 0;
    padding-bottom: 20px; }
  .main-item-title {
    font-size: 30px; }
    .main-item-title::after, .post-title-h1:after {
      width: 37px; }
  .main-list {
    font-size: 20px;
    margin-top: 0; }
  .main-item-btn {
    font-size: 9px;
    width: 93px;
    height: 26px;
    line-height: 26px;
    margin-top: 10px; }
  .title-news-all {
    font-size: 12px;
    top: 30px; }
  .title-news-txt p {
    font-size: 12px; }
  .item-company-txt {
    line-height: 1.6; }
  .title-news-txt span {
    font-size: 12px;
    margin-top: 5px; }
  .title-order::before {
    background-image: url("../img/phone-sm.png");
    width: 31px;
    height: 31px; }
  .order-txt-head {
    font-size: 15px; }
  .order-txt-sub {
    font-size: 15px; }
  .main-item {
    height: auto;
    padding: 20px; }
  .main-list-item {
    margin-top: 10px; }
  .order-txt-head:first-child {
    margin-top: 10px; }
  .order-txt-sub {
    margin-top: 10px; }
  .order-txt-head:last-child {
    margin-bottom: 50px; }
  .main-list-item::after, .title-news-all::after, .title-news-all::after {
    background-image: url("../img/arrow-left-sm.png");
    width: 13px;
    height: 8px;
    margin-left: 5px; }
  .title-news-all::after {
    padding-bottom: 3px; }
  .location-adress {
    font-size: 17px; }
  .item-sale-title {
    font-size: 30px; }
  .item-sale {
    min-height: 230px; }
  .item-sale-title::after {
    background-image: url("../img/sale-arrow-sm.png");
    width: 49px;
    height: 49px;
    bottom: auto; }
  .item-sale::after {
    background-image: url("../img/sale-line-sm.png");
    width: 120px;
    height: 70px; }
  .item-company-txt {
    font-size: 12px;
    margin-top: 10px; }
  .title-company {
    margin-bottom: 0; }
  .catalog-item {
    padding: 40px 10px 0 50px; }
  .catalog-item-title {
    font-size: 22px; }
  .catalog-list a {
    font-size: 18px; }
  .block1::before {
    background-image: url("../img/list-icon1-sm.png");
    width: 20px;
    height: 30px;
    left: -25px; }
  .block2::before {
    background-image: url("../img/list-icon2-sm.png");
    width: 29px;
    height: 29px;
    left: -35px; }
  .catalog-list li {
    line-height: 1.8; }
  .catalog-list {
    margin-top: 5px; }
  .footer {
    padding: 15px; }
    .footer-txt {
      font-size: 16px; }
  .post-title-h1 {
    font-size: 40px; }
  .post-txt-str {
    font-size: 12px;
    margin-bottom: 12px; }
  .post-title-h2 {
    font-size: 36px;
    margin-top: 10px;
    padding-bottom: 10px; }
  .links-item-meth {
    font-size: 10px; }
  .content-top {
    padding: 0 15px; }
  .post-txt {
    margin-bottom: 10px; }
  .post-title-h3 {
    font-size: 32px;
    margin-top: 10px;
    padding-bottom: 10px; }
  .post-title-h4 {
    margin-top: 10px;
    padding-bottom: 8px; }
  .post-list-item {
    font-size: 12px; }
  .post-list-item::before {
    top: 5px;
    border: 4px solid #e31e25; }
  .section-content-left {
    padding: 20px 10px 0 60px; }
  .category-item-meth {
    font-size: 20px; } }
